.board {
    margin: auto;
    width: 490px;
}

.board button {
    height: 150px;
    width: 150px;
    float: left; 
    margin: 1px;
    font-size: 3em;
}

#message {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}
